.header-task {
  width: 100%;
  height: 1500px;
  background-color: #f3f2f7;
  .header-task-item {
    padding: 20px;
    .nav-list {
      animation: slideIn 0.6s ease-out;

      height: 50px;
      justify-content: space-between;
      margin-top: 5px;
      width: 100%;
      display: flex;
      align-items: center;
      @keyframes slideIn {
        from {
          opacity: 0;
          transform: translateY(-50px);
        }
        to {
          opacity: 1;
          transform: translateY(0);
        }
      }
      .item-title {
        animation: slideIn 0.6s ease-out;
        width: 20%;
        h2 {
          font-size: 26px;
          font-weight: 700;
          color: #7a8699;
        }
      }
      .from-boards-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #ffff;
        border-radius: 10px;
        width: 245px;
        height: 50px;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
        perspective: 500px;
        animation: slideIn 0.6s ease-out;
      }

      .item-list-view {
        padding: 13px 12px;
        display: flex;
        align-items: center;
        transition: background-color 0.3s ease-in-out,
          transform 0.2s ease-in-out;
      }

      .item-list-view:hover,
      .txt-view-boards:hover {
        transform: translateZ(1px);

        .icon-add {
          transform: rotate(10deg);
        }
      }

      .item-list-view:active,
      .item-list:active {
        transform: scale(0.95);
      }

      .icon-add {
        color: #7a8699;
        transition: transform 0.2s ease-in-out;
      }

      .txt-view-boards {
        font-weight: 600;
        color: #7a8699;
        font-size: 13px;
        margin-left: 5px;
      }

      @keyframes slideDown {
        from {
          opacity: 0;
          transform: translateY(-50px); /* Trượt từ trên xuống */
        }
        to {
          opacity: 1;
          transform: translateY(0);
        }
      }

      .from-limited {
        width: 180px;
        border-left: 3px solid #e7e7e7;
        border-right: 3px solid #e7e7e7;
        height: 50px;
        animation: slideDown 0.6s ease-out;
        transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
      }

      .item-limited {
        padding: 0px 13px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        transition: transform 0.2s ease-in-out;
      }
      .item-limited:hover {
        transform: translateZ(1px);
        .icon-add {
          transform: rotate(10deg);
        }
      }

      .txt-view-boards {
        font-weight: 600;
        color: #7a8699;
        font-size: 13px;
        margin-left: 5px;
      }

      .icon-add {
        color: #7a8699;
        transition: transform 0.2s ease-in-out;
      }

      .icon-add:hover {
        transform: rotate(10deg);
      }

      @keyframes slideDown {
        from {
          opacity: 0;
          transform: translateY(-50px); /* Trượt từ trên xuống */
        }
        to {
          opacity: 1;
          transform: translateY(0);
        }
      }

      .from-owners-team {
        display: flex;
        padding: 0px 13px;
        height: 50px;
        align-items: center;
        width: 210px;
        justify-content: space-between;
        perspective: 500px;
        animation: slideDown 0.6s ease-out; /* Thêm hiệu ứng khi load */
      }

      .txt-view-boards {
        font-weight: 600;
        color: #7a8699;
        font-size: 13px;
        margin-left: 5px;
      }

      .item-host {
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 0.3s ease, transform 0.3s ease-in-out;
        transform-style: preserve-3d;
      }

      .item-x {
        display: flex;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        width: 25px;
        height: 25px;
        background-color: #fff;
        font-weight: 600;
        color: #7a8699;
        font-size: 13px;
        transition: background-color 0.3s ease, transform 0.2s ease;
      }

      .item-host:hover,
      .item-x:hover {
        cursor: pointer;
        color: #7a8699;
      }

      .item-host:active,
      .item-x:active {
        transform: scale(0.95);
        transition: background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),
          transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      }

      @keyframes slideDown {
        from {
          opacity: 0;
          transform: translateY(-50px);
        }
        to {
          opacity: 1;
          transform: translateY(0);
        }
      }
      .from-search {
        width: 200px;
        height: 50px;
        justify-content: center;
        align-items: center;
        background-color: #ffff;
        border: 2px solid #e7e7e7;
        border-radius: 10px;
        display: flex;
        padding: 0px 13px;
        animation: slideDown 0.6s ease-out;
        .from-nav-search {
          display: flex;
          justify-content: center;
          align-items: center;
          .icon-search {
            height: 48px;
            margin-right: 5px;
          }
          .nav-search {
            border: none;
            outline: none;
            font-weight: 600;
            color: #7a8699;
            width: 150px;
            height: 40px;
          }
        }
      }
      @keyframes slideDown {
        from {
          opacity: 0;
          transform: translateY(-50px); /* Trượt từ trên xuống */
        }
        to {
          opacity: 1;
          transform: translateY(0);
        }
      }
      .from-function {
        margin-left: 10px;
        width: 220px;
        justify-content: space-between;
        height: 50px;
        display: flex;
        animation: slideDown 0.6s ease-out;

        .icon-add {
          color: #7a8699;
        }
        .item-click {
          border-radius: 10px;
          width: 50px;
          background-color: #fff;
          border: 1px solid #e7e7e7;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      .from-members {
        animation: slideIn 0.6s ease-out;
        width: 180px;
        display: flex;
        align-items: center;
        justify-content: center;
        .item-member {
          position: relative;
          width: 76px;
          top: 0px;
          .img-avt-one {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            position: absolute;
            left: 0;
            z-index: 2;
          }
          .img-avt-true {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            position: absolute;
            left: 18px; /* Đẩy qua một nửa */
            z-index: 3; /* Hình thứ hai */
          }
          .add-member {
            width: 35px;
            align-items: center;
            text-align: center;
            background-color: #f2f4f7;
            justify-content: center;
            height: 35px;
            display: flex;
            border-radius: 50%;
            position: absolute;
            left: 36px; /* Đẩy qua một nửa */
            z-index: 4; /* Hình thứ hai */
          }
        }
        .item-add {
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px dashed black;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background-color: #b8bfcc;
          .icon-add {
            color: #7a8699;
          }
          &:hover {
            background-color: #b8bfcc;
          }
        }
      }
    }
    .from-task {
      margin-top: 20px;
      width: 100%;
      height: 500px;
      background-color: #fff;
      border: 1px Dashed #7a8699;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      .item-err {
        .icon-err {
          font-size: 80px;
          color: #7a8699;
        }
        .txt-err {
          text-align: center;
          font-weight: 600;
          color: #7a8699;
        }
      }
    }
    .modal-stack {
      text-align: center;
    }
  }
}
